// Variables

@brand-primary: #fed136;
@brand-danger: #e74c3c;
@gray-darkest: #222;
@gray: #777;
@gray-lighter: #f7f7f7;
@placeholder-text: #bbbbbb;
@button-fill: fade(#d8d8d8, 9%);
@button-border:fade(#ffffff, 48%);
@navbar-background: fade(#000000, 20%);
@aside-background: fade(#2F2F2F, 80%);
@special-gray: fade(#e5e5e5, 80%);
@white-darker: #eeeeee;

//== Jumbotron
//
//##

@jumbotron-padding:              10px;
@jumbotron-color:                inherit;
@jumbotron-bg:                   fade(#e8e8e8, 20%);
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            11px;
@jumbotron-heading-font-size:    13px;
@jumbotron-margin:               10px;

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;

@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@jumbotron-height:           590px;

//Panel
@panel-body-padding: 10px;
@panel-margin-bottom: 10px;
@panel-bg: fade(#d0d0d0, 10%);
@panel-border-radius: 7px;
@panel-border-color: #979797;

